[submodule "Scala/TScala"]
	path = Scala/TScala
	url = https://github.com/yamikarajput546/TScala.git
[submodule "Python/--force"]
	path = Python/--force
	url = https://github.com/yamikarajput546/TPython
[submodule "Python/--name"]
	path = Python/--name
	url = https://github.com/yamikarajput546/TPython.git
[submodule "Java/Java-Helloworld"]
	path = Java/Java-Helloworld
	url = https://github.com/yamikarajput546/Java-Helloworld.git
